
.result-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: main;
}

.entry-box {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    margin: 10px 50px; 
    padding-left: 100px;   
}

.entry__name {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.entry__name:hover {
    background-color: var(--color);
}
